* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
.img{
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFDDDD;
    padding: 10px 20px;
    width: 100%;
}
.header li {
    list-style: none;
    font-size: 28px;
    margin: 0px 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
    color: rgb(25, 19, 19);
}

@media (max-width: 768px) {
    header ul li a{
    color: #1c1212;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px; 
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.caja img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}